<h1>Ember Objects</h1>
{{#link-to 'application'}}Home{{/link-to}}<br>
{{#link-to 'input'}}Input {{/link-to}}<br>
{{#link-to 'students'}}Students {{/link-to}}<br>
{{#link-to 'pupils'}}Pupils {{/link-to}}<br>

{{outlet}}
