<h2>Pupils</h2>
{{#students-info}}
  <p>Yield content goes here</p>
  <p>Pupil description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi officiis architecto, adipisci nobis itaque ratione velit doloremque suscipit obcaecati voluptatem!</p>
{{/students-info}}
